div{
  font-family: Arial;
}
.container{
  display: flex;
  flex-direction: row;
  margin-top: 10px;
  margin-left: 20px;
  width: 420px;

  
}
.profile-picture-container{
  margin-right: 10px;
}
.profile-picture{
  width: 60px;
  height: 60px;
  object-fit: cover;
  border-radius: 30px;
}
.tweet-info{
  flex: 1;
}
.account-info-container{
  display: flex;
  margin-bottom: 5px;
}
.account-name{
  font-weight: bold;
  margin-right: 5px;
}
.account-tag{
  color: rgb(111, 111, 111);
 }
 .message{
  line-height: 20px;
  
  margin-bottom: 15px;
 }
 .link-container{
  display: flex;
  border-width: 1px;
  border-color: rgb(200, 200, 200);
  border-style: solid;
  border-radius: 15px;
  align-items: center;
  overflow: hidden;
 }
 .video-thumbnail{
  background-color: rgb(220, 220, 220);
  width: 100px;
  height: 100px;
  margin-right: 10px;
 }
 .youtube-link-info{
 flex: 1;
 }
 .link-name{
  color: rgb(111, 111, 111);
  margin-bottom: 3px;
 }
 .link-title{
 
  line-height: 22px;
  
 }