div{
  font-family: Arial;
}
.container{
  border-color: rgb(200, 200, 200);
  border-width: 1px;
  border-style: solid;
  width: 300px;
  border-radius: 5px;
}
.flexbox{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-left: 6px;
  padding-right: 6px;
  padding-top:12px;
  padding-bottom: 12px;
}
.notifications{
  background-color: rgb(49, 109, 245);
  color: white;
  font-size: 14px;
  font-weight: bold;
  padding-top: 3px;
  padding-bottom:3px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 20px;
}