body{
  height: 3000px;
}
.close{
  font-family: Arial;
  background-color: black;
  color: white;
  position: absolute;
  padding-left: 12px;
  padding-right: 12px;
  padding-top: 8px;
  padding-bottom: 8px;
  border-radius: 17px;
  top: -13px;
  left: -14px;
  cursor: pointer;
}
.box{
  background-color: grey;
  width: 320px;
  height: 180px;
  position: fixed;
  bottom: 20px;
  right: 20px;
}
.ad-time{
  background-color: black;
  color: white;
  position: absolute;
  bottom: 8px;
  right: 8px;
  font-family: Arial;
  font-size: 15px;
  padding-top: 4px;
  padding-bottom: 4px;
  padding-left: 6px;
  padding-right: 6px;
}